
h1{
    color: white;
    background-color: orange;
    text-align: center;
}

.container {
    border: 4px solid red;
    color: white;
    text-align : right;
    background-color: blue; 
}
.container p{
    font-size: 400;
    font-family:'Montserrat';
    font-style: italic;
}

.contain{
    border: 4px dashed black;
    color: yellow;
    text-align: left;
}
.contain p{
    font-size: 2rem;
    font-family: 'courier';
}

form{
    background-color: lightblue;
    text-align: center;   
}
.summit-btn{
    color: white;
    background-color: red;
} 